<main class="container">
  <h1>Cuisines</h1>
  <div class="grid">
    <div class="list">
      <ul>
        @for (cuisine of cuisines.value()?.data; track cuisine.id) {
          <li>
            {{ cuisine.name | titlecase }}
            <button
              class="light"
              type="button"
              (click)="removeCuisine(cuisine.id)"
            >
              Supprimer
            </button>
          </li>
        } @empty {
          <p>Aucune cuisine pour le moment</p>
        }
      </ul>
    </div>
    <div>
      <form [formGroup]="form" class="form" (submit)="addCuisine()">
        <fieldset>
          <label for="name">Nom de la cuisine:</label>
          <input id="name" type="text" formControlName="name" required />
          @if (form.dirty && form.get("name")?.errors?.["required"]) {
            <p class="error">Le nom de la cuisine est requis.</p>
          }
        </fieldset>
        <button class="primary full-width" type="submit">
          Ajouter une cuisine
        </button>
      </form>
    </div>
  </div>
</main>
